---
layout: page
title: "About"
description: "Hey, this is Andy."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>写写感悟，做做研究，<br>
    用好奇心,去发现世界</p></blockquote>

    <p>Hey，我是<strong>Andy（晓野）</strong>，机械工程师 &amp; ， </p>

    <p>前半段职业从事风力发电，做过技术员，设计、工艺、研发👉 
    
    <p>后半段至今从事轴承应用，喜欢研究，捣腾，对很多东西都感兴趣，可能源自小时候生活在乡下，任何玩具都是自制的，春天的风筝、夏天鱼竿渔网、秋天的秸秆编织玩具、还有冬天的雪洞·冰滑梯·雪橇·冰壶·滑冰鞋</p>
    <p>那些都是美好的回忆，都是如何玩，当然了，现在也是玩，不论是理论研究、机械设计、应用分析、故障诊断，还是互联网、CSS、HTML5，再如绘画、书法、音乐、文学、历史、哲学、宇宙，不也都令人心旷神怡 </p>
    <p>还有一个趋势，如今我们都已经向猿人方向发展了，比如说程序猿之类的，不单是程序猿，电脑屏幕前的兄弟们每天都在朝这个方向前进，工作累了，不妨停下脚步，休息一下</p>
    <p> <strong>毕竟人生还有亲人·远方 和 诗</strong>  </p>
    
<!--<h5>Talks</h5>

    //<ul>
    //<li><a href="#">电机分类</a></li>
    //</ul>
-->
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Life thinker <br>
    To discover</p></blockquote>

    <p>Hi, I am <strong>Andy</strong>. I'm an mechanical engineer &amp;  (<a href="http://github.com/andyqi1999">Github 👉</a>). </p>

<!--
    <h5>Talks</h5>

    <ul>
    <li><a href="#">##</a></li>
    </ul>
-->
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <!-- This id is used for indexing my loss comments forcedly -->
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
    <!-- U can just use this key generated to index comments at page about -->
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
